.square {
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    max-height: 960px;
}
.gridDivs {
     min-height:5dvh;
    min-width: 5vw;
    margin: 0;
    background: red;
}

.gridDivs:hover {
    background: rgb(23, 32, 12);
}

.generador{
    display: flex;
    margin: auto;
    background-color: red;
}